
div.odd,
div.even{
	text-align: initial;
}

table.skills{
	text-align: center;
	font-size: 16px;
}

.skills tr{
	display: inline-block;
	text-align: left;
}
.skills tr td.skill{
	width: 155px;
}
span.background{
	background-color: #e2ebff;
	height: 12px;
	width: 170px;
	display: inline-table;
	padding: 0px;
	margin-left: 20px;
	margin-bottom: 7px;
}

span.level{
	background-color: #9ec9ff;
	height: 12px;
	margin: 0px;
    display: block;
    width: 0%;
    transition: 1s;
	  -webkit-transition:1s;
      -moz-transition:1s;
      -o-transition:1s;
      -ms-transition:1s;
}

span.level.l-1.active{
    width: 10%;
}
span.level.l-2.active{
	width: 20%;
}
span.level.l-3.active{
	width: 30%;
}
span.level.l-4.active{
	width: 40%;
}
span.level.l-5.active{
	width: 50%;
}
span.level.l-6.active{
	width: 60%;
}
span.level.l-7.active{
	width: 70%;
}
span.level.l-8.active{
	width: 80%;
}
span.level.l-9.active{
	width: 90%;
}
span.level.l-10.active{
	width: 100%;
}
