strong{
	font-size: 18px;
}
.regular{
	font-size: 15px;
	color: #828282; 
}
.title {
 	color: #ffffff;
    text-align: center;
    border-bottom: 3px solid;
    padding-bottom: 10px;
    border-radius: 15px;

}