#pictures{
	text-align: center;
}
.pic{
	height: 399px;
    margin: 17px 12px;
    box-shadow: #5d5d5d 0px 0px 20px 2px;
	/*image-rendering: pixelated;
	-webkit-transform: rotate(-90deg);
	 -moz-transform: rotate(-90deg);
	 -o-transform: rotate(-90deg);
	 -ms-transform: rotate(-90deg);
	 transform: rotate(-90deg);*/

}