body {
    font-family:Georgia, serif;
    text-align: center;
}

form {
    display: inline-block;
}
input[type=text]{
    height: 17px;
    width: 200px;
    padding: 5px 10px;
}
#button{
    display: inline-block;
    height: 31px;
    width: 80px;
    background-color: #cc0000;
    font-family: arial;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    border-style: none;
    text-align: center;
}
.list-container{

}
.list {
	color:#000000;
    display: inline-block;
}
.item{
	cursor: move;
	width:600px;
	list-style: none;
	border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: 10px 25px;
    padding: 0px 10px;
}
.done-container,
.close{
 display: inline-block;
}
.done-container{
	float: left;
    margin: 9px;
}
.done{
	cursor: pointer;
}
.text{
	display: block;
	margin: 30px 30px 15px 70px;
    padding: 3px;
    font-size: 15px;
	text-align: initial;
}
.text::first-letter{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}
.close{
	cursor: pointer;
	color: lightgrey;
    margin: 3px;
    padding: 3px;
    float: right;
}
.line-through{
	text-decoration: line-through;
}