
/*{border:1px black solid;}*/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #828282;
  background-color: #000000;
  background-image: url('resources/imgs/backgrounds/stardust.png');
}

header {
  padding: 10px 15px;
  margin-bottom: 35px;
}
a{
  color: #ffffff;
}
a:hover,
a:visited{
  color: #ffffff;
  text-decoration: none;
}

footer .row {
  width: 100%;
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 300;
  font-size: 70px;
  margin-top: 10px;
}
header nav {
  display: inline;
  justify-content: flex-end;
}
nav a{
  margin: 10px 20px;
}

#index{
   background-image: url('resources/imgs/22-06-2017/DSC_0071.JPG');
}
.jumbotron {
  position: relative;
  display: flex;
  height: 500px;
  margin-bottom: 50px;
  color: #ffffff;
  align-items: center;
  background-size: cover;
  background-position-y: 25%;
  text-shadow: 3px 4px 1px #5d5d5d;
  box-shadow: #5d5d5d 0px 0px 20px 2px;

}
.jumbotron h2{
    font-size: 70px;
    font-weight: 600;
}
.jumbotron h3{}


footer {
  font-size: 12px;
  padding: 10px 0;

}

footer .col-sm-4 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

.photo{
    position: absolute;
    right: 20px;
    bottom: 20px;

}