body{
	text-align: center;
}
img {
    position: absolute;
    float: left;
    left: 0;
    top: 0;
    z-index: 1000;
}
.game-container{
    position: relative;
    display: inline-block;
    text-align: center;
    height: 300px;
    width: 735px;
    border: 1px solid #000000;
    padding: 50px;
}
#Squares{
	display: inline-block;
}
.square{
	height: 50px;
    width: 50px;
    display: inline-block;
    border: 1px solid #000000;
}
.square.blue{
	background-color: #3a8ee4;
}
.square.white{
	background-color: #a2c7ec;
}